<div style="margin-bottom:30px;">
  <button class="btn btn-primary" (click)="createEmployee()">Create Employee 
  
  <span *ngIf="createStatus" class="glyphicon glyphicon-menu-down"></span>
  <span *ngIf="!createStatus" class="glyphicon glyphicon-menu-up"></span>
  </button>
</div>
<div [hidden]=createStatus style="margin-bottom:30px;">
  <form [formGroup]="checkoutForm" (ngSubmit)="addEmployee(checkoutForm.value)">
    <div class="form-group">
      <label for="name">Enter employee name:</label>
      <input type="text" class="form-control" formControlName="name"/>
    </div>
    <div class="form-group">
      <label for="name">Enter employee age:</label>
      <input type="text" class="form-control" formControlName="age" />
    </div>
    <div>
      <button class="btn btn-secondary" type="submit">Submit</button>
    </div>
  </form>
</div>
